################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WH_DEVICE/v16/ipch/AutoPCH/a02b15c9ef5f5da4
